{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.ng.bluemix.net",
      "Org": "n.simmonds10@uniandes.edu.co",
      "Space": "prod"
    },
    "Name": "SenecaServer",
    "Instrumentation": {}
  },
  "Path": "",
  "Type": "Cloud Foundry"
}